<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test">
    <test name="test">
        <classes>
            <class name="Pages.Login.loginPage"/>
            <!--<class name="Pages.Console.consolePage"/>
            <class name="Pages.PollList.pollListPage"/>
            <class name="Pages.PollList.EditPollList.editPollPage"/>-->
        </classes>
    </test>
</suite>